.board-container {
  padding: 8px;
  overflow: scroll;
}

.lists {
  display: inline-flex;
  width: fit-content;
  overflow: scroll;
}

@media only screen and (max-width: 733px) {
  .lists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
