.card-settings {
  width: 100%;
  display: flex;
}
.delete-card-bttn {
  opacity: 0.2;
  margin: 4px;
  border: none;
  border-radius: 2px;
  padding: 4px;
  background-color: rgba(4, 4, 4, 0.18);
  color: white;
  font-weight: bold;
  transition: opacity 200ms;
  width: auto;
}

.delete-card-bttn:hover {
  opacity: 1;
  transition: opacity 200ms;
}

.delete-card-bttn {
  cursor: pointer;
  opacity: 0.2;
  float: right;
  margin: 4px;
  border: none;
  border-radius: 2px;
  padding: 4px;
  background-color: rgba(4, 4, 4, 0.18);
  color: white;
  font-weight: bold;
  transition: opacity 200ms;
}

.delete-card-bttn:hover {
  opacity: 1;
  transition: opacity 200ms;
}

.update-card {
  margin: 4px;
  width: 80%;
}
.update-card .input-box {
  border: none;
  background-color: rgba(16, 16, 16, 0.34);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 4px;
  color: white;
  width: calc(100% - 100px);
}

.update-card .update-bttn {
  cursor: pointer;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 4px;
  background-color: rgba(4, 4, 4, 0.18);
  color: white;
  font-weight: bold;
  width: calc(100px - 8px);
}

::placeholder {
  color: black;
  opacity: 0.5;
}
