.add-card {
  margin-top: 8px;
  height: 40px;
}
.add-card .input-box {
  border: none;
  background-color: rgba(16, 16, 16, 0.34);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 4px;
  color: white;
  height: calc(100% - 8px);
  width: calc(100% - 100px);
}

.add-card .add-bttn {
  cursor: pointer;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
  background-color: rgba(4, 4, 4, 0.18);
  color: white;
  font-weight: bold;
  height: 100%;
  width: calc(100px - 8px);
}
