@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  padding: 8px;
  margin: 0px;
}
.App {
  text-align: center;
}

@media only screen and (max-width: 733px) {
  h1 {
    text-align: center;
  }
}
